# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
*.egg-info/
*.egg
*.log

# Virtual Environments
env/
venv/
.venv/
crack_cpu/
conda_env/
.env
.env.*

# Jupyter / IPython
.ipynb_checkpoints/

# VS Code / IDE
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Build / dist
build/
dist/

# Data (exclude but allow models)
data/
*.csv
*.xlsx
*.json
*.parquet
